
<div style="text-align: left;">
  <%= link_to "Back", users_profile_settings_path %>
</div>

<%= form_for(@user, :url => {:action => "change_password"}) do |f| %>
<table align="center" border="0">
  <tr>
    <th colspan="2"><h3>Change Password</h3></th>
  </tr>

  <tr>
    <td><%= f.label :old_password, "Enter Old Password:" %></td>
    <td><%= f.password_field :old_password%></td>
  </tr>

  <tr>
    <td><%= f.label :password, "Enter New password:" %></td>
    <td><%= f.password_field :password %></td>
  </tr>

  <tr>
    <td><%= f.label :password_confirmation, "Confirm Password:" %></td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>

  <tr>
    <td><%= f.submit :save %></td>
    <td><%= button_to :cancel, :type => "reset" %></td>
  </tr>
</table>
<% end %>