
<div style="text-align: center; color: darkblue;">
  <b><h3>Event list</h3></b>
</div>
<br />

<% current_user.receiver_events.each do |u| %>
<table align="center" border="0">
  <tr>
    <td><%= u.user.firstname %></td>
    <td><%= u.name %></td>
    <td><%= u.description %></td>
    <td><%= u.venue %></td>
    <td><%= u.start_datetime %></td>
    <td><%= u.end_datetime %></td>
  </tr>
</table>
<% end %>

<div style="text-align: center; color: darkblue;">
  <b><h3>Events created</h3></b>
  <% if current_user.events.empty? %>
   <h3>no events created</h3>
  <% else %>
  <% current_user.events.each do |u| %>
  <table align="center" border="0">
  <tr>
    <td><%= u.user.firstname %></td>
    <td><%= u.name %></td>
    <td><%= u.description %></td>
    <td><%= u.venue %></td>
    <td><%= u.start_datetime %></td>
    <td><%= u.end_datetime %></td>
  </tr>
  </table>
<% end %>
<% end %>

</div>







