
<div>
  <%= link_to "Home", users_welcome_page_path %>
  <br /><br />
  <%= link_to "Edit Profile", "/users/edit_profile/#{current_user.id}" %>
  <br /><br />
  <%= link_to "Change Password", users_change_password_path  %>
</div>


<table align="center" border="0">
  <tr>
    <th><h3>Your Profile Details</h3></th>
  </tr>

  <tr>
    <td><b>Education: </b></td>
    <td><%= @user.education %></td>
  </tr>

  <tr>
    <td><b>Company:</b></td>
    <td><%= @user.company %></td>
  </tr>

  <tr>
    <td><b>Home City:</b></td>
    <td><%= @user.homecity %></td>
  </tr>

  <tr>
    <td><b>Current City:</b></td>
    <td><%= @user.currentcity %></td>
  </tr>

</table>